* {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body {
	font-family: 'Montserrat';
	font-size:16px;
	line-height: 35px;
	font-weight: 400;
	color: #333332;
}

.test {
	width: 70%;
	margin:auto;
}


/*/////////////////////////////////////
///// Type //////////////////////////*/

strong {
	font-weight: 700;
}

.small {
	font-family:'Cutive Mono';
	font-size: 12px;
	line-height: 15px;
}

h1 {
	font-size: 40px;
	line-height: 60px;
	font-weight: 700;
	margin-bottom: 30px;
}

h2 {
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 20px;
}

h3 {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 15px;
}

p {
	margin-top: 35px;
	margin-bottom: 0;
}

a {
  color: #FFC127;
  text-decoration: none;
}

a:hover{
  color: #FFC127
}

/*/////////////////////////////////////
///// Nav ///////////////////////////*/

div#nav {
	xbackground: #333332;
  background: black;
	color: white;
	position: fixed;
	top: 0px;
	font-family: 'Cutive Mono', Monaco, monospace;
	padding: 15px;
	width: 100%;
	text-align: center;
	z-index: 5;
}

div#nav a{
	color: white;
	text-decoration: none;
	padding-bottom: 3px;
}

div#nav a:hover {
	border-bottom: 2px solid #fff;
}

div#nav h6{
	display: inline;
	position: relative;
	top: 5px;
	margin: 0;
	padding: 0px;
	padding-top: 6px;
	font-size: 35px;
}

/*/////////////////////////////////////
///// Intro /////////////////////////*/

div#intro {
	width: 100%;
	height: 800px;
	background: url('hero.jpeg') fixed no-repeat;
	opacity: .88;
	background-size: cover;
	background-position:center;
	z-index: 1;
	overflow: visible;
}

h1#tagline {
	color: #FFC127;
	width:50%;
	max-height: 30px;
	position: relative;
	top: -300px;
	left: 300px;
	/* padding-top: 25%;
	padding-left: 20%; */
	text-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

/*/////////////////////////////////////
///// Logo //////////////////////////*/

img#logo {
	position: fixed;
	top: 15%;
	left: 3%;
	width: 150px;
	height: auto;
	z-index: 1;
}

img#logo:hover {
	cursor:pointer;
}

/*/////////////////////////////////////
///// Layout ////////////////////////*/

div.eighty {
	/* margin-top: 25px;
	margin-bottom: 25px; */
	margin-left: 10%;
	margin-right: 10%;
	z-index: 5;
  display: block;
  clear: both;
}

div#about {
	/* clear: both; */
	margin-left: 10%;
	margin-right: 10%;
	background: white;
	color: black;
	z-index: 5;
}

#tumblr_embed .event{
	float:left;
	height: 200px;
	width: 250px;
	padding: 20px;
	margin-right: 30px;
	margin-bottom: 30px;
	overflow:hidden;
	background: #e0e0e0;
	z-index: 5;
}

#tumblr_embed .event h2{
	vertical-align: bottom;
}

#tumblr_embed .event h3 {
	vertical-align: text-bottom;
}

#tumblr_embed .post{
	width: 80%;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
	/* padding:100px; */
	/* border: 1px dashed #ccc; */
	background: #fff;
	/* box-shadow: 0px 0px 10px #ccc; */
	margin-bottom: 50px;
	display: block;
	z-index: 5;
}

/*/////////////////////////////////////
///// Blog Type /////////////////////*/

#tumblr_embed h1 {
	width: 40%;
	border-bottom: 10px solid #333332;
	font-size: 35px;
	clear: both;
	margin-top: 30px;
}

#tumblr_embed .posttitle {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: inline;
}

#tumblr_embed .postdate {
	display: inline;
	font-size: 15px;
	color: #838B8B;
	font-family: 'Cutive Mono', Monaco, monospace;
}

/*/////////////////////////////////////
///// About Block ///////////////////*/

#about {
  background: black;
  color: white;
	width: 100%;
	z-index: 5;
	font-size: 14px;
  position: absolute;
  display: block;
  z-index: 4;
}

#about h1 {
	font-size: 18px;
}

#about #story{
	width: 65%;
	float: left;
	display: inline;
	margin-bottom: 30px;
}
#about #contact1{
	width: 10%;
	float: right;
	display: inline;
	margin-bottom: 30px;
	font-family: Monaco, monospace;
	font-size: 12px;
	line-height: 14px;
}
#about #contact2{
	width: 20%;
	float: right;
	display: inline;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 14px;
}

#about #buffer{
  color: black;
  background: white;
  width: 100%;
  clear: both;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  padding-bottom: 20px;
}

#about #buffer img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

