div#intro{

  background: url("risd_bg.jpg") fixed no-repeat;
  background-size: cover;
  background-position:center;

}

div#intro h1 {
  color: #FFC127;
}

::-moz-selection {
    background-color: #FFC127;
}

::selection {
    background-color: #FFC127;
}

<!-- Within the directory, you need "logo_big.png", "logo_small.png", "favicon.ico", and "background.png" files for the images.
     Text must be edited manually via HTML.
     Edit: Title, Tagline, All content, buffer attributes to sponsors.
-->
